body{ 
    background: rgba(126, 28, 126, 0.702);
    color: black;
    font-size:40px;
    font-weight:200px;
    text-align: center;
    margin-bottom:0px;
    margin-top:0px;
  
}
.main{
    margin-top:400px;
    
    
}
h2{
    background-color:aliceblue  ;
    font-family: Bubblegum sans;
    margin-bottom:0px;
    font-weight:40px;
    font-size: 80px;
    text-align:center;
    margin-top:6px;
}
input{
  
font-style: oblique;
display:block;
width:200px;
margin-left: auto;
margin-right: auto;

height: 24px;
margin-top:0px;}